pkgbase = lighttable-bin
	pkgdesc = Photo editing and film simulation
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/reville/lighttable-digital-darkroom
	arch = x86_64
	license = GPL-3.0-only
	depends = glibc
	depends = gcc-libs
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = xdotool
	depends = openblas
	depends = openssl
	depends = libglvnd
	depends = vulkan-icd-loader
	depends = lcms2
	depends = xdg-utils
	depends = glib2
	depends = dbus
	depends = gvfs
	depends = zenity
	depends = xdg-desktop-portal
	depends = hicolor-icon-theme
	depends = desktop-file-utils
	optdepends = xdg-desktop-portal-hyprland: Hyprland and Omarchy desktop portal
	optdepends = xdg-desktop-portal-gtk: file chooser portal for desktops without one
	optdepends = vulkan-driver: hardware acceleration with the driver for your GPU
	provides = lighttable=0.6.0
	conflicts = lighttable
	options = !strip
	options = !debug
	source = https://github.com/reville/lighttable-digital-darkroom/releases/download/v0.6.0/LightTable-0.6.0-linux-x86_64.tar.gz
	source = app.lighttable.LightTable.desktop
	sha256sums = 4b116ac098df209a3c755ef751e19ed226da5621d9238f9c2bb3dbe94fe020f5
	sha256sums = 7da0e45fb5201961f26b9227f29b3d46f6ef38604158c3f4f7fb4f80c7d0c7dd

pkgname = lighttable-bin
